App.Api/bin/
App.Api/obj/

App.Api.xUnit/bin/
App.Api.xUnit/obj/

App.Business/bin/
App.Business/obj/

App.Business.xUnit/bin/
App.Business.xUnit/obj/

App.Domain/bin/
App.Domain/obj/

App.Infrastructure/bin/
App.Infrastructure/obj/

App.IOC/bin/
App.IOC/obj/
